[submodule "poker-web"]
	path = poker-web
	url = https://github.com/NOTF-API/poker-web.git
[submodule "hello-markdown"]
	path = hello-markdown
	url = https://github.com/NOTF-API/hello-markdown.git
[submodule "QLYAudioPlayer-Demo"]
	path = QLYAudioPlayer-Demo
	url = https://github.com/NOTF-API/QLYAudioPlayer-Demo.git
[submodule "summon-dragon-modified-version"]
	path = summon-dragon-modified-version
	url = https://github.com/NOTF-API/summon-dragon-modified-version.git
